.page-template-template-contact {
  h2 {
    font-size: 30px;
    font-weight: normal;
    font-family: $font-family-klavika;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    letter-spacing: -.02em;
    text-transform: uppercase;
  }

  .contact-left {
    
  }
  .contact-right {
    
  }
  .support-link {
    margin-bottom: 50px;
  }
  .general-inquiry {
    margin-bottom: 50px;
    address,
    .contact-phone {
      color: #555;
    }
    address {
      margin-bottom: 15px;
    }
    .contact-phone {
      margin-bottom: 15px;
      display: block;
    }
  }

  .connect {
    
    .social-link {
      margin-right: 15px;
    }
  }

  .inquiry-contact {
    .alert {
      ul {
        margin-top: 10px;
      }
      strong {
        font-weight: normal;
        
      }
    }
    p {
      margin-bottom: 30px;
      color: #555;
    }
    form {
      input[type="text"],
      input[type="tel"],
      input[type="email"] {
        height: 40px;

      }
      .btn-primary {
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        font-weight: 500;
        padding: 0 65px;
        margin-top: 30px;
      }
    }
  }
}


// Responsive: Tablet to desktop
// --------------------------------------------------
@media (min-width: 768px) and (max-width: 991px) {

  .page-template-template-contact {
    .support-link {
      margin-bottom: 0;
    }
    .connect {
      margin-bottom: 75px;
    }
    .footer-img {
      margin-top: 75px;
    }
  }

}

// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------
@media (max-width: 767px) {

  .page-template-template-contact {
    h2 {
      font-size: 24px;
      margin-bottom: 15px;
    }
    .general-inquiry, .connect {
      margin-bottom: 50px;
    }
  }

}

// Responsive: Up to landscape phone
// --------------------------------------------------
@media (max-width: 480px) {

  .page-template-template-contact {
    .general-inquiry {
      .email-address {
        font-size: 18px;
        margin-bottom: 15px;
      }
      address {
        margin-bottom: 15px;
      }
    }
    .inquiry-contact {
      p {
        margin-bottom: 15px;
      }
      form {
        .form-control {
          margin-bottom: 15px;
        }
        .btn-primary {
          line-height: 50px;
          padding: 0 80px;
          height: 50px;
          width: 100%;
          margin-top: 0;
        }
      }
    }
  }

}