// registration.less
// -----------------------------------------------------------------

.page-template-template-registration-europe {
  .section-title {
    font-family: $font-family-klavika-light;
    font-size: 50px;
    margin: 0 0 80px;
    text-align: center;
  }
  .yellow {
    color: $brand-secondary;
  }
  .blue {
    color: #006ff4;
  }
  .regular-margin {
    margin: 0 0 10.5px !important;
  }
  .power-statements {
    font-size: 24px;
    margin: 0 0 60px;
    p {
      margin: 0 0 15px;
    }
  }
  // HERO
  // -----------------------
  .registration-hero {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin: 0 0 80px;
    height: 960px;
    position: relative;
    img {
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .btn-registration {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 70px;
    border-radius: 10px;
    width: 400px;
    display: block;
    margin: 80px auto 0;
    @include gradient-y(darken(desaturate(#FFC000, 15%), 5%), darken(desaturate(#FFA100, 15%), 5%), 5%, 100%);
    &:hover {
      background-color: darken(desaturate(#FFA100, 15%), 5%);
      background-image: none;
    }
    &.is--toggled {
      display: none;
    }
    &.btn-top {
      margin: 80px auto 60px;
    }
  }

  // REGISTRATION CONTENT
  // -----------------------
  .registration-content {
    margin: 0 0 60px;
    p {
      font-size: 16px;
      margin: 0 0 30px;
    }
    .intro-statement {
      margin: 0 0 50px;
    }
    // Video ---------------
    .video-wrapper {
      background: #D8D8D8;
      border-radius: 10px;
      padding: 10px;
      margin: 0 0 50px;
    }
    // Summary ---------------
    .registration-summary {
      padding: 30px 0 80px;
      iframe {

      }
      h3 {
        font-size: 30px;
        font-weight: 700;
        margin: 0 0 10px;
      }
      p {
        font-size: 16px;
        line-height: 1.5em;
      }
    }
    // Quote ---------------
    .section-aside {
      margin: 0 0 80px;
      .section-aside-title {
        h3 {
          font-family: $font-family-klavika;
          font-weight: 500;
          font-size: 60px;
          margin: 0;
          line-height: .9em;
        }
      }
      .section-aside-content {
        .section-aside-content-wrapper {
          padding-left: 20px;
          border-left: 6px solid $brand-secondary;
        }
      }
      .quote-block {
        .quote-statement {
          font-family: $font-family-archer;
          font-style: italic;
          line-height: 1.5em;
          font-size: 18px;
          font-weight: 600;
          margin: 0 0 15px;
        }
        cite {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          img {
            height: 50px;
            margin: 0 5px;
          }
          .cite-person {
            font-size: 24px;
          }
          .cite-organization {
            text-transform: uppercase;
            font-size: 14px;
            margin-left: 5px;
          }
        }
      }
    }

    // Alumni -----------
    .registration-alumni {
      margin: 0 0 80px;
      h3 {
        font-weight: 400;
        font-size: 30px;
        margin: 0 0 30px;
      }
      .alumni-wrapper,
      .leadership-wrapper {
        display: flex;
        flex-flow: row wrap;
      }
      .alumnus {
        width: 33%;
        text-align: center;
        margin: 0 0 30px;
        img {
          height: 140px;
          border-radius: 50%;
          margin: 0 0 10px;
        }
        .alumnus-name {
          display: block;
          font-size: 16px;
          font-weight: 500;
        }
        .alumnus-title {
          display: block;
        }
      }
      .company {
        width: 25%;
        text-align: center;
        img {
          height: 75px;
        }
      }
    }

    // The Camp
    // ------------------
    .section-the-camp {
      font-size: 18px;
      margin: 0 0 80px;
      .the-camp-hero {
        height: 350px;
        background: #333;
        margin: 0 0 80px;
        background-size: cover;
        background-position: 50% 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .logo {
          position: relative;
          z-index: 100;
          img {
            height: 200px;
          }
        }
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,.2);
          z-index: 50;
        }
      }
      .camp-title {
        font-size: 21px;
        img {
          height: 100px;
          margin-right: 30px;
        }
      }
      h3 {
        font-size: 30px;
        font-weight: 700;
        margin: 0 0 10px;
      }
      .learn-more {
        background: fade($brand-secondary, 10%);
        padding: 10px 15px;
        border-radius: 5px;
        margin: 30px 0 0;
        display: inline-block;
      }
      .video-wrapper {
        margin: 60px 0 0;
      }
      .welcome-section {
        margin: 50px 0 0;
      }
      .sdp {
        width: 100%;
        margin: 30px 0 0;
      }
    }

    // Details
    // ------------------
    .section-details {
      font-size: 18px;
      padding: 80px 0;
      margin: 0 0 80px;
      background: #333;
      color: #fff;
      h3 {
        font-size: 30px;
        font-weight: 700;
        margin: 0 0 10px;
      }
      .includes {
        font-size: 21px;
        list-style: none;
        margin: 0 0 50px;
        padding: 0 0 50px;
        border-bottom: 1px solid rgba(255,255,255,.5);
        h3 {
          color: #fff;
          background: $brand-primary;
          padding: 10px 15px;
          margin: 0 0 30px;
          position: relative;
          &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 7.5px 0 7.5px;
            border-color: #007bff transparent transparent transparent;
            position: absolute;
            bottom: -10px;
            left: 15px;
          }
        }
        .point {
          font-weight: 700;
          display: flex;
          align-items: baseline;
          margin: 0 0 30px;
          &:before {
            content: '';
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background: $brand-secondary;
            display: block;
            flex-shrink: 0;
            margin-right: 15px;
          }
          small {
            font-weight: 400;
            font-size: 18px;
            display: block;
          }
        }
      }
    }
  }

  // FOOTER
  // -----------------------
  .form-footer {
    color: #999;
    text-align: center;
    font-size: 13px;
    margin-bottom: 30px;
  }


  // FORM STYLING
  // -----------------------
  .ui-datepicker-month,
  .ui-datepicker-year {
    color: #333 !important;
  }

  #form-wrapper {
    display: none;
  }
  .form-wrapper {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    width: 615px;
    padding: 25px 30px;
    margin: 30px auto 60px;
    .gform_wrapper {
      margin: 0;
      max-width: 100%;
      div.charleft {
        color: #888;
      }
      input[type="text"],
      input[type="tel"],
      input[type="email"],
      input[type="url"],
      input[type="number"] {
        @extend .form-control;
        height: 40px;
        font-size: 14px !important;
        padding: 6px 12px !important;
      }
      .gfield_html {
        max-width: 100%;
      }
      .ginput_price {
        display: none;
      }
      select {
        @extend .form-control;
        height: 40px;
      }
      .gf_progressbar_wrapper {
        margin-bottom: 25px;
      }
      // .gf_progressbar {
      //   background-image: none;
      //   line-height: 1em;
      //   border: 0;
      //   .progress();
      //   .gf_progressbar_percentage {
      //     background-image: none;
      //     .progress-bar();
      //     span {
      //       display: none;
      //     }
      //   }
      // }
      .validation_message {
        color: $brand-danger;
      }
      div.validation_error {
        @extend .alert;
        @extend .alert-danger;
        font-weight: normal;
        margin-top: 25px;
      }
      .top_label .gfield_error {
        width: 100%;
        border-bottom: 0;
        textarea.textarea {
          width: 100%;
        }
      }
      li.gfield.gfield_error {
        background-color: lighten($brand-danger, 30%);
        border-top-color: darken($brand-danger, 30%);
        .gfield_label {
          color: $brand-danger;
        }
        &.gfield_contains_required {
          padding-left: 10px;
          padding-right: 10px;
          margin-top: 0;
          margin-bottom: 25px !important;
          div.gfield_description {
            font-family: $font-family-serif;
            font-style: italic;
            font-weight: normal;
            color: $brand-danger;
          }
        }
      }
      .ginput_card_security_code {
        display: inline-block !important;
      }
      .gfield_time_hour,
      .gfield_time_minute {
        width: 6.5em;
        position: relative;
        i {
          position: absolute;
          top: 9px;
          right: 0;
          margin-top: 0;
        }
      }
      .gfield_radio,
      .gfield_checkbox {
        li {
          padding-left: 10px !important;
        }
        label {
          font-weight: normal;
        }
      }
      textarea {
        @extend .form-control;
        padding: 6px 12px !important;
        height: 100px;
        resize: auto;
      }
      &.gf_browser_chrome ul.gform_fields li.gfield input[type=radio] {
        margin-left: .1em !important;
      }
      .gfield {
        @extend .form-group;
        margin-bottom: 25px;
      }
      li.gfield_error div.ginput_complex.ginput_container label {
        color: $brand-danger;
      }
      .gfield_error .ginput_complex {
        .ginput_left {
          width: 49%;
        }
        .ginput_right {
          margin-left: 2%;
          width: 49%;
          input[type=text] {
            width: 100%;
          }
        }
      }
      .gfield_description {
        font-style: italic;
        font-size: 13px;
      }
      .top_label {
        input.medium,
        select.medium {
          width: 100% !important;
        }
      }

      .ginput_complex {
        label {
          font-weight: normal;
          text-transform: uppercase;
          font-size: 10px !important;
        }
        input[type=text] {
          width: 100%;
        }
        .ginput_full {
          input[type=text] {
            width: 100% !important;
          }
        }
        .ginput-right {
          margin-left: 2%;
        }
        &.ginput_container.has_first_name.no_middle_name.has_last_name  {
          span.name_first {
            margin-right: 2%;
          }
        }
      }
      .gfield_required {
        color: $brand-danger;
      }
      .gfield_time_hour,
      .gfield_time_minute {
        width: 75px !important;
        max-width: 100px !important;
        input[type="number"] {
          width: 100% !important;
        }
        label {
          font-weight: normal;
          text-transform: uppercase;
          font-size: .7em;
        }
      }
      textarea.medium {
        width: 100%;
        height: 100px;
        resize: auto;
      }
      .gform_next_button,
      .gform_previous_button {
        @extend .btn;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        font-weight: 500;
        padding: 0 65px;
        margin-top: 30px;
        color: $link-color;
        border-color: $link-color;
        background: #fff;
        width: 100%;
        &:hover {
          background: $link-color;
          color: #fff;
        }
      }
      .gform_previous_button {
        @extend .btn;
        @extend .btn-link;
        width: auto;
        margin-bottom: 0 !important;
        margin-top: 10px;
        height: auto;
        padding: 0;
      }
      .gform_button {
        @extend .btn;
        @extend .btn-secondary;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        font-weight: 500;
        padding: 0 65px;
        margin-top: 30px;
        width: 100%;
      }
      .gf_coupon_code {
        width: 50% !important;
        display: inline-block !important;
      }
      #gf_coupon_button {
        @extend .btn;
        @extend .btn-light;
      }
    }
  }

}


// Responsive: desktop to large desktop
// --------------------------------------------------
@media (min-width: 1200px) and (max-width: 1499px) {}

// Responsive: Tablet to desktop
// --------------------------------------------------
@media (min-width: 992px) and (max-width: 1199px) {}

// Responsive: Tablet to desktop
// --------------------------------------------------
@media (min-width: 768px) and (max-width: 991px) {

  .page-template-template-registration-europe {
    .power-statements {
      margin: 0 0 60px;
    }
    .registration-hero {
      overflow: hidden;
      margin: 0 0 60px;
      height: 480px;
      img {
        height: auto;
        width: 150%;
      }
    }
    .registration-button-wrapper {
      top: 0;
      margin: 0 0 30px
    }
    .registration-content {
      margin: 0 0 60px;
      .registration-summary,
      .section-aside,
      .registration-alumni {
        margin: 0 0 50px;
        .alumnus {
          width: 33.3333%;
          margin: 0 0 30px;
        }
      }
      .registration-summary {
        padding-top: 0;
        .video-wrapper {
          margin: 0 0 30px;
        }
      }
      .section-aside {
        .section-aside-title {
          h3 {
            font-size: 36px;
            margin: 0 0 15px;
          }
        }
        .section-aside-content {
          .section-aside-content-wrapper {
            padding-left: 15px;
            border-left: 3px solid $brand-secondary;
          }
        }
      }
    }
    .form-wrapper {
      margin-top: 0;
    }
  }

}

// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------
@media (max-width: 767px) {

  .page-template-template-registration-europe {
    .section-title {
      font-size: 36px;
      margin: 0 0 30px;
    }
    .power-statements {
      margin: 0 0 30px;
      font-size: 21px;
      text-align: center;
      p {
        margin: 0 0 15px;
      }
    }
    .btn-registration {
      margin-top: 30px;
      font-size: 21px;
      padding: 10px 30px;
      display: block;
      width: 100%;
      &.btn-top {
        margin: 30px auto;
      }
    }
    // HERO
    // -----------------------
    .registration-hero {
      overflow: hidden;
      margin: 0 0 30px;
      height: 480px;
      img {
        height: auto;
        width: 150%;
      }
    }

    // REGISTRATION CONTENT
    // -----------------------
    .registration-content {
      margin: 0 0 30px;
      .intro-statement {
        margin: 0 0 30px;
      }
      // Video ---------------
      .video-wrapper {
        margin: 0 0 30px;
      }
      // Summary ---------------
      .registration-summary {
        padding: 0 0 30px;
        h3 {
          font-size: 21px;
        }
      }
      // Quote ---------------
      .section-aside {
        margin: 0 0 30px;
        .section-aside-title {
          h3 {
            font-family: $font-family-sans-serif;
            font-size: 24px;
            font-weight: 700;
            margin: 0 0 15px;
          }
        }
        .section-aside-content {
          .section-aside-content-wrapper {
            padding-left: 15px;
          }
        }
      }
      // The Camp
      // ------------------
      .section-the-camp {
        margin: 0 0 30px;
        .the-camp-hero {
          height: 400px;
          margin: 0 0 30px;
        }
        h3 {
          font-size: 21px;
        }
        .camp-title {
          span {
            display: block;
          }
          img {
            height: 70px;
            margin-right: 0;
          }
        }
        .welcome-section {
          margin: 30px 0 0;
        }
        .sdp {
          width: 100%;
          margin: 0 0 30px;
        }
        .video-wrapper {
          margin: 30px 0 0;
        }

      }
      // Details
      // ------------------
      .section-details {
        font-size: 18px;
        padding: 30px 0;
        margin: 0 0 30px;
        .includes {
          font-size: 18px;
          margin: 0 0 30px;
          padding: 0;
          h3 {
            margin: 0 0 30px;
          }
          .point {
            small {
              font-weight: 400;
              font-size: 16px;
              display: block;
            }
          }
        }
      }

      // Alumni -----------
      .registration-alumni {
        padding: 30px 0;
        h3 {
          font-size: 24px;
        }
        .alumnus {
          width: 50%;
          text-align: center;
          margin: 0 0 30px;
          img {
            height: 120px;
          }
        }
        .company {
          width: 50%;
          margin: 0 0 30px;
          img {
            height: 50px;
          }
        }
      }
    }
    .form-wrapper {
      width: auto;
      padding: 15px;
      margin: 0 -15px 30px;
      border-radius: 0;
      border-left: 0;
      border-right: 0;
    }
  }

}

// Responsive: Up to landscape phone
// --------------------------------------------------
@media (max-width: 480px) {



}
