.search {
  .site-header {
    @include tablet-lg {
      margin-bottom: 0;
    }
    @include tablet {
      margin-bottom: 0;
    }
  }
  .search-title {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 30px;
    padding: 10px 15px;
    width: auto;
    padding-left: 1015px;
    margin-left: -1000px;
    background: #fafafa;
    @include tablet-lg {
      margin-bottom: 15px;
      padding: 10px 15px;
      width: auto;
      margin: 0 -15px 30px;
    }
    @include tablet {
      margin-bottom: 15px;
      padding: 10px 15px;
      width: auto;
      margin: 0 -15px 30px;
    }
    h1 {
      font-size: 24px;
      line-height: 1.5em;
      font-style: normal;
      margin: 0;
      @include tablet-lg {
        font-size: 16px;
      }
      @include tablet {
        font-size: 16px;
      }
      img {
        margin-right: 15px;
        vertical-align: middle;
        top: -1px;
        position: relative;
      }
      .search-term {
        font-family: $font-family-archer;
        font-style: italic;
        color: $brand-primary;
        font-weight: 600;
      }
    }
  }

  .blog-roll-wrapper {
    main {
      padding-top: 110px;
      @include tablet-lg {
        padding-top: 0;
      }
      @include tablet {
        padding-top: 0;
      }
    }
  }
}