// Klavika
@font-face {
  font-family: 'Klavika';
  src: url('../fonts/klavika-light.woff2') format('woff2'),
      url('../fonts/klavika-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klavika';
  src: url('../fonts/klavika-medium.woff2') format('woff2'),
      url('../fonts/klavika-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klavika';
  src: url('../fonts/klavika-bold.woff2') format('woff2'),
      url('../fonts/klavika-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Archer
@font-face {
  font-family: 'Archer';
  src: url('../fonts/Archer-BoldItalic.woff2') format('woff2'),
      url('../fonts/Archer-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Archer';
  src: url('../fonts/Archer-SemiboldItalic.woff2') format('woff2'),
      url('../fonts/Archer-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Archer';
  src: url('../fonts/Archer-BookItalic.woff2') format('woff2'),
      url('../fonts/Archer-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

// Gotham Rounded
@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRounded-Medium.woff2') format('woff2'),
      url('../fonts/GothamRounded-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRounded-BookItalic.woff2') format('woff2'),
      url('../fonts/GothamRounded-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRounded-Book.woff2') format('woff2'),
      url('../fonts/GothamRounded-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRounded-Bold.woff2') format('woff2'),
      url('../fonts/GothamRounded-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRounded-Light.woff2') format('woff2'),
      url('../fonts/GothamRounded-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// Tungsten
@font-face {
  font-family: 'Tungsten';
  src: url('../fonts/Tungsten-Semibold.woff2') format('woff2'),
      url('../fonts/Tungsten-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tungsten';
  src: url('../fonts/Tungsten-Medium.woff2') format('woff2'),
      url('../fonts/Tungsten-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}