.hatch-logo {
  color: $brand-secondary;
  font-family: $font-family-klavika-bold;
  text-transform: uppercase;
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-center-parent {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.alert {
  ul {
    margin-top: 10px;
  }
  strong {
    font-weight: normal;

  }
}